/* const parrafo = document.querySelector('#text');

function js_style() {
    parrafo.classList.toggle('texto-diferente');
}
.texto-diferente {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: aqua;
}
*/
