.Datos {

    border: 5px solid rgb(128, 168, 187);
    padding: 10px;
    background-color: rgb(16, 119, 38);
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.Nombre1 {
    
    
    
}


