.Datos {
    background-color: green;
    color: white;
   
    
}

.Nombre1 {
display: inline-block;
width: 80px;
}

.acomodoLabel {
    display: inline-block;
    width: 80px;
}

input {
    border: 1px solid red;
}

.boton {
    margin-top: 20px;
    padding-top: 10px;
    border-top: ;
}
